@model ForgotPasswordViewModel

@Html.Partial("_Logo")

<h2>@Model.Title1</h2>

@using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Enter your email.</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.ForgotPasswordModel.Email, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.ForgotPasswordModel.Email, new { @class = "form-control eml-form-control", @autofocus = "autofocus" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="submit" class="btn btn-default">
                <i class="fa fa-envelope-o"></i>&nbsp;Send Link
            </button>
        </div>
    </div>
}
<p>
    @Html.ActionLink("Back to Login", "Login")
</p>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
