@model LayoutViewModelBase<LayoutContentsCreateEditViewModel<int, Lookup>>

<div class="form-group">
    @Html.LabelFor(model => model.ContentViewModel.Item.Group, htmlAttributes: new { @class = "control-label " + Model.ContentViewModel.LabelCss })
    <div class="@Model.ContentViewModel.FieldCss">
        @Html.EditorFor(model => model.ContentViewModel.Item.Group, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.ContentViewModel.Item.Group, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.ContentViewModel.Item.SubGroup, htmlAttributes: new { @class = "control-label " + Model.ContentViewModel.LabelCss })
    <div class="@Model.ContentViewModel.FieldCss">
        @Html.EditorFor(model => model.ContentViewModel.Item.SubGroup, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.ContentViewModel.Item.SubGroup, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.ContentViewModel.Item.Value, htmlAttributes: new { @class = "control-label " + Model.ContentViewModel.LabelCss })
    <div class="@Model.ContentViewModel.FieldCss">
        @Html.EditorFor(model => model.ContentViewModel.Item.Value, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.ContentViewModel.Item.Value, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.ContentViewModel.Item.Text, htmlAttributes: new { @class = "control-label " + Model.ContentViewModel.LabelCss })
    <div class="@Model.ContentViewModel.FieldCss">
        @Html.EditorFor(model => model.ContentViewModel.Item.Text, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.ContentViewModel.Item.Text, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.ContentViewModel.Item.DeletionReason, htmlAttributes: new { @class = "control-label " + Model.ContentViewModel.LabelCss })
    <div class="@Model.ContentViewModel.FieldCss">
        @Html.EditorFor(model => model.ContentViewModel.Item.DeletionReason, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.ContentViewModel.Item.DeletionReason, "", new { @class = "text-danger" })
    </div>
</div>
