@model ChangePasswordViewModel

@Html.Partial("_Logo")

<h2>@Model.Title1</h2>

@using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Change Password Form</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => Model.ChangePasswordModel.OldPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => Model.ChangePasswordModel.OldPassword, new { @class = "form-control eml-form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => Model.ChangePasswordModel.NewPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => Model.ChangePasswordModel.NewPassword, new { @class = "form-control eml-form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => Model.ChangePasswordModel.ConfirmPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => Model.ChangePasswordModel.ConfirmPassword, new { @class = "form-control eml-form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            @*<span>
                <input type="submit" value="Change password" class="btn btn-default " />
            </span>*@
            
            <button  type="submit" class="btn btn-primary" value="Change password">
                <i class="fa fa-key"></i>&nbsp;Change password
            </button>
        </div>
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}